/* 返回顶部按钮 */
.md-top {
    position: fixed !important;    /* 强行锁死在屏幕上 */
    top: auto !important;          /* 必须废除原主题自带的 top 定位 */
    bottom: 30px !important;      /* 距离浏览器底部 300px */
}


/* 统一管理浅色模式下的自定义配色 */
[data-md-color-scheme="default"] {
  /* 修改顶部栏 */
  --md-primary-fg-color: #83a598;
  
  /* 修改底部栏 */
  .md-footer-meta {
    background-color: #83a598 !important;
  }
}


/* 统一管理深色模式下的自定义配色 */
[data-md-color-scheme="slate"] {
  /* 1. 顶部栏配色 */
  --md-primary-fg-color: #546d78;
  
  /* 2. 护眼背景与文字 (整体优化) */
  --md-default-bg-color: #242d35;       /* 深灰背景 */
  --md-default-fg-color: #d1d1d1;       /* 浅灰文字 */
  
  /* 3. 底部栏配色 */
  .md-footer-meta {
    background-color: #546d78 !important;
  }

  /* 4. 代码块背景色 (比页面背景略深，产生层次感) */
  --md-code-bg-color: #2e3436;          /*  #1d2021 */

}









/* 圆角设计-开始 */

:root {
  --admonition-border-left-width: 0.2rem;
  --base-border-radius: 0.3rem;
  --card-hover-shadow: 0 0 0.2rem #ffffff40;
}

/* 卡片圆角与悬浮阴影 */
.md-typeset .grid.cards > ul > li,
.md-typeset .md-button,
.md-typeset table:not([class]) {
  border-radius: var(--base-border-radius);
}
.md-typeset .grid.cards > ul > li:hover {
  box-shadow: var(--card-hover-shadow);
}

/* 搜索框及下拉结果圆角 */
.md-search__form {
  border-radius: var(--base-border-radius);
}

[data-md-toggle="search"]:checked ~ .md-header .md-search__form {
  border-top-right-radius: var(--base-border-radius);
  border-top-left-radius: var(--base-border-radius);
}

[dir="ltr"] .md-search__output {
  border-bottom-right-radius: var(--base-border-radius);
  border-bottom-left-radius: var(--base-border-radius);
}


/* 所有admonition（包括!!! tip）圆角化且更自然 */
/* .md-typeset .admonition,
.md-typeset details {
  border-radius: 0.5em;
  box-shadow: 0 2px 12px 0 rgba(60,60,60,0.07);
  transition: border-radius 0.4s cubic-bezier(.4,2,.6,1), box-shadow 0.3s;
  overflow: hidden;
} */


/* 圆角设计-结束 */
